.footer{
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: .05rem solid var(--font-color);
}

.footer p {
    font-size: 1.2rem;
}

.footer p strong {
    font-weight: bold;
    color: var(--primary-color);
    cursor: default;
}

.footer p strong:hover {
    font-weight: bold;
    color: var(--font-color);
}